.DS_Store
/.local/
.env
.env.*
!.env.example
node_modules/
dist/
build/
coverage/
.cache/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
*.log
*.swp
